name: release

concurrency:
  group: release-${{ github.head_ref }}
  cancel-in-progress: true

on:
  push:
    tags:
      - "*"

jobs:
  create:
    name: Create Release
    runs-on: ubuntu-latest
    container:
      image: wasmedge/wasmedge:ubuntu-build-gcc
    outputs:
      version: ${{ steps.prep.outputs.version }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Get version
      id: prep
      run: |
        echo ::set-output name=version::$(git describe --tag)
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: WasmEdge-Image ${{ steps.prep.outputs.version }}
        body_path: .CurrentChangelog.md
        draft: true
        prerelease: false
  build_and_upload_manylinux2014_x86_64:
    name: Build WasmEdge-Image on manylinux2014_x86_64 platform
    needs: create
    runs-on: ubuntu-latest
    container:
      image: wasmedge/wasmedge:manylinux2014_x86_64
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build manylinux2014_x86_64 package
      run: |
        yum check-update || true
        yum install -y wget
        export PATH="/toolchain/bin:$PATH"
        export CC=gcc
        export CXX=g++
        rm -rf build
        cmake -Bbuild -DCMAKE_BUILD_TYPE=Release .
        cmake --build build
        cd build
        tar -zcvf WasmEdge-image.tar.gz include/wasmedge-image.h lib/libwasmedge-image_c.so
        tar Jcvf WasmEdge-image.tar.xz include/wasmedge-image.h lib/libwasmedge-image_c.so
        cd ..
        mv build/WasmEdge-image.tar.gz WasmEdge-image.tar.gz
        mv build/WasmEdge-image.tar.xz WasmEdge-image.tar.xz
        wget https://github.com/second-state/WasmEdge-image/releases/download/0.8.0/WasmEdge-image-deps-0.8.0-manylinux1_x86_64.tar.gz
        tar -zxvf WasmEdge-image-deps-0.8.0-manylinux1_x86_64.tar.gz
        tar -zcvf WasmEdge-image-deps.tar.gz libjpeg.so.8.3.0 libpng16.so.16.37.0
        tar Jcvf WasmEdge-image-deps.tar.xz libjpeg.so.8.3.0 libpng16.so.16.37.0
        ls -alF
    - name: Upload manylinux2014_x86_64 tar.gz package
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create.outputs.upload_url }}
        asset_path: WasmEdge-image.tar.gz
        asset_name: WasmEdge-image-${{ needs.create.outputs.version }}-manylinux2014_x86_64.tar.gz
        asset_content_type: application/x-gzip
    - name: Upload manylinux2014_x86_64 tar.xz package
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create.outputs.upload_url }}
        asset_path: WasmEdge-image.tar.xz
        asset_name: WasmEdge-image-${{ needs.create.outputs.version }}-manylinux2014_x86_64.tar.xz
        asset_content_type: application/x-xz
    - name: Upload deps manylinux1_x86_64 tar.gz package
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create.outputs.upload_url }}
        asset_path: WasmEdge-image-deps.tar.gz
        asset_name: WasmEdge-image-deps-${{ needs.create.outputs.version }}-manylinux1_x86_64.tar.gz
        asset_content_type: application/x-gzip
    - name: Upload deps manylinux1_x86_64 tar.xz package
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create.outputs.upload_url }}
        asset_path: WasmEdge-image-deps.tar.xz
        asset_name: WasmEdge-image-deps-${{ needs.create.outputs.version }}-manylinux1_x86_64.tar.xz
        asset_content_type: application/x-xz
